<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Pris_iOS_UI_AutoTest" annotations="JDK" thread-count="1"
	verbose="1">

	<test name="Test">
		<classes>
		<class name="com.netease.qa.testng.demo.Fail1SkipTest" />
			<class name="com.netease.qa.testng.demo.Fail1SuccessTest" />
			<class name="com.netease.qa.testng.demo.Fail2SuccessTest" />
			
			<class name="com.netease.qa.testng.demo.SkipTest" />
			<class name="com.netease.qa.testng.demo.Fail3Test" /> 
			<class name="com.netease.qa.testng.demo.SuccessTest" />
		</classes>
	</test>
</suite>